body {
  background: white;
  color: black;
  overflow: hidden;
}

p {
  margin: 0;
}

.movie-app {
  display: flex;
  flex-direction: column;
}

.row>* {
  width: auto;
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

/* 

NAVIGATION

*/

.navigation {
  background-color: #666666;
  color: white;
  flex-wrap: nowrap;
  padding: 20px 40px;
}

.search-box, .search-box:hover, .search-box:active {
  font-size: 32px;
  font-weight: 300;
  background-color: transparent;
  color: white;
  border: transparent;
}

.search-box::placeholder {
  font-size: 32px;
  font-weight: 300;
  color: white;
}

.filter-header {
  font-size: 20px;
  font-weight: 300;
}

.navigation, .filter{
  display: flex;
  align-items: center;
}

.filter {
  width: 50%;
  justify-content: end;
}

.navigation {
  justify-content: space-between;
}

.year-filter, .type-filter {
  width: 40%;
  max-width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

label {
  margin-left: 8px;
  margin-right: 16px;
}

.range-slider {
  width: 70%;
  display: flex;
  flex-direction: row;
}

.MuiSlider-root {
  color: white !important;
  margin: 0 8px;
}

/*

MOVIE LIST

*/

.content {
  width: 100vw;
}

.results {
  margin: 50px;
  font-size: 24px;
}

.movie-list {
  max-width: 40%;
  height: 90vh;
  overflow-y: scroll;
}

.movie-list-item {
  color: black;
  margin: 50px 20px;
  position: relative;
  flex: 1;
  transition: all 300ms ease;
}

.movie-list-item:hover {
  transform: scale(1.02);
  cursor: pointer;
  background-color: #dddddd;
}

.movie-list-item:active {
  transform: scale(0.98);
  cursor: pointer;
  background-color: #eeeeee;
}

.movie-list-item::after {
  content: "";
  position: absolute;
  height: 1px;
  background-color: #aaaaaa;
  width: 100%;
  bottom: -25px;
  right: 0;
}

.image-container {
  padding: 0;
  width: 120px;
  overflow: hidden;
  border-radius: 8px;
}

.image-container > img {
  width: 100%;
}

.title-container {
  max-width: 70%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.title {
  font-size: 28px;
}

.year {
  font-size: 20px;
  color: #666666;
}

/* 

MOVIE DETAILS 

*/

.movie-details {
  max-width: 60%;
  height: 90vh;
  overflow-y: scroll;
}

.movie-details-container {
  padding: 40px 20px;
}

.movie-info {
  display: flex;
  flex-direction: row;
}

.poster-wrapper {
  padding: 0;
  overflow: hidden;
  border-radius: 16px;
}

.poster {
  width: 100%;
}

.info-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  max-width: 100%;
  flex: 1;
}

.watchlist-button-wrapper {
  display: flex;
  justify-content: end;
}

.watchlist-button {
  transition: all 300ms ease;
  width: 100%;
  max-width: 250px;
}

.watchlist-button:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.watchlist-button:active {
  transform: scale(0.95);
  cursor: pointer;
}

.bi-bookmark, .bi-x-circle {
  margin-right: 16px;
}

.btn {
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.movie-title {
  font-weight: 700;
  font-size: 48px;
}

.info-features {
  display: flex;
  align-items: center;
  margin: 12px 0 12px 2px;
  font-weight: 300;
  font-size: 18px;
}

.age-rating {
  border: black 1px solid;
  border-radius: 4px;
  padding: 0 12px;
  margin-right: 10px;
}

.info-cast {
  font-weight: 400;
  font-size: 22px;
}

.movie-plot {
  font-size: 18px;
}

.rating-stats {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: calc(100% / 3);
  position: relative;
}

.rating-stats:not(:last-child):after {
  content: "";
  position: absolute;
  height: 100%;
  background-color: #666666;
  width: 1px;
  right: -2px;
}

/* 

WATCHLIST

*/

.watchlist-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  margin: 0 20px;
}

.watchlist-item > .movie-list-item::after {
  display: none;
}

.watchlist-item::after {
  content: "";
  position: absolute;
  height: 1px;
  background-color: #aaaaaa;
  width: 100%;
  bottom: 0;
  right: 0;
}